{% load render_table from django_tables2 %}
<h5 class="card-title">Order Detail</h5>
<div class="table-responsive">
    {% render_table order_items %}
</div>
<div class="col-md-12">
    <div class="pull-right m-t-30 text-right">
        <p>Value: {{ instance.tag_value }}</p>
        <p>Discount  : {{ instance.tag_discount }} </p>
        <hr>
        <h3><b>Total :</b> {{ instance.tag_final_value }}</h3>
    </div>
    <div class="clearfix"></div>
    
</div>
<script>
    $('.edit_button').click(function (evt) {
        evt.preventDefault();
        const btn = $(this);
        const url = btn.attr('data-href');
        
        // Désactiver le bouton pendant la requête
        const originalText = btn.html();
        btn.prop('disabled', true);
        btn.html('<i class="bi bi-hourglass-split"></i>');
        
        $.ajax({
            method: 'GET',
            url: url,
            dataType: 'json',
            success: function (data) {
                if (data.success === false) {
                    // Afficher l'erreur
                    alert(data.error || 'Erreur lors de la modification');
                    // Réactiver le bouton
                    btn.prop('disabled', false);
                    btn.html(originalText);
                } else {
                    // Mettre à jour la commande
                    $('#order_item_container').html(data.result);
                }
            },
            error: function() {
                alert('Erreur de connexion. Veuillez réessayer.');
                // Réactiver le bouton
                btn.prop('disabled', false);
                btn.html(originalText);
            }
        })
    });
</script>
